<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Update Post | Admin | EPblog</title>
    <link rel="stylesheet" href="https://t5910.w3spaces.com/EPblog/create-post.css">
    <link rel="icon" type="image/x-icon" href="https://t5910.w3spaces.com/EPblog/favicon.ico">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Pathway+Extreme:wght@100&display=swap');

* {
    font-family: 'Pathway Extreme';
}

body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

nav {
    background-color: #394032;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

nav h1 {
    margin: 0;
}

nav h1 a {
    margin: 1rem;
    color: #cfee9e;
    text-decoration: none;
}

nav ul {
    margin: 0;
    list-style-type: none;
    float: right;
    display: flex;
    padding: 0;
}

nav ul li {
    margin-left: 1rem;
    margin-right: 1rem;
    color: #cfee9e;
}

nav ul li a {
    color: #cfee9e;
    text-decoration: none;
    padding: 1rem;
}

nav ul li a:hover {
    background-color: #587b7f;
}

.main-content {
    position: relative;
}

form {
    margin: 2rem;
    padding: 3rem;
    max-width: 500rem;
    max-height: 30rem;
    display: flex;
    flex-direction: column;
}

.title,
form textarea {
    padding: 1rem;
    border-radius: 7px;
    outline: none;
    border: 1px solid black;
}

.title {
    width: 20rem;
}

form textarea {
    resize: vertical;
    max-width: 100rem;
    margin: 1rem;
}

button {
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #7fffd4;
    max-width: 102rem;
}

form button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    form {
        margin: 1rem;
        margin-top: 10rem;
    }

    .title,
    form textarea {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    nav {
        padding: 1rem;
    }

    nav ul li {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.input-container {
    display: flex;
    float: left;
}
    </style>
</head>
<body>
    <nav>
        <h1>
            <a href="/">EPblog</a>
        </h1>
        <h1 style="color: #cfee9e">
            <a href="/admin/posts"><i>ADMIN</i></a>
        </h1>
        <ul>
            <li><a href="/admin/posts">Posts</a></li>
            <li><a href="/admin/change-password">Change Password</a></li>
        </ul>
    </nav>
    <div class="main-content">
        <form action="/admin/update-post/<%= id %>" method="post" style="margin: 2rem;padding: 3rem;max-width: 500rem;max-height: 30rem;display: flex;flex-direction: column; float: left; text-align: left;">
            <div class="input-container">
                <input type="text" placeholder="Title..." class="title" name="title" value="<%= title %>">
<a href="/admin/delete/<%= id %>" style="margin: 0.5rem;background-color: red;margin-bottom: 1rem;padding: 1rem;height: 100%;text-decoration: none;color: white;border-radius: 10px;">Delete</a>
            </div>
            <textarea name="content" cols="30" rows="10" placeholder="Body Content..." style="margin: 1rem;"><%= content %></textarea>
            <button type="submit" class="btn">Update</button>
        </form>
    </div>
</body>
</html>
