<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password | EPblog</title>
    <link rel="stylesheet" href="https://t5910.w3spaces.com/EPblog/admin-change_password.css">
</head>
<body>
    <nav>
        <h1>
            <a href="/">EPblog</a>
        </h1>
        <h1 style="color: #cfee9e">
            <a href="/admin/posts"><i>ADMIN</i></a>
        </h1>
        <ul>
            <li><a href="/admin/posts">Posts</a></li>
            <li><a href="/admin/change-password" class="active">Change Password</a></li>
        </ul>
    </nav>
    <div class="main-content">
        <form action="/admin/change-password/do" method="post">
            <input type="password" placeholder="Old Password..." name="old" /><br /><br />
            <input type="password" placeholder="New Password..." name="new" /><br /><br />
            <input type="password" placeholder="Confirm New Password" name="confirm" /><br /><br />
            <button>Change</button>
        </form>
    </div>
</body>
</html>
