<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Admin | EPblog</title>
    <link rel="stylesheet" href="https://t5910.w3spaces.com/EPblog/admin-login.css">
    <link rel="icon" type="image/x-icon" href="https://t5910.w3spaces.com/EPblog/favicon.ico">
</head>
<body>
    <div id="form-container">
        <form action="/login" method="post">
            <h1>Admin Login</h1>
            <input type="password" name="passTry" placeholder="Password:" /><br />
            <button>Login</button><br />
            <a href="/">&lt;&lt; Home</a>
            <% err.forEach(function(message) { %>
                <div><h3 class="error-message"><%- message %></h3></div>
            <% }) %>
        </form>
    </div>
</body>
</html>
